<form class="mailchimp-subscribe-form" action="//womegineersday.us9.list-manage.com/subscribe/post?u=994f87bb7e8e1c28e7b31644d&amp;id=22339b0bb9" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate
<div class="form-group">
  <label for="mce-EMAIL"></label>
  <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" style="width: auto; display: inline;" placeholder="Email me updates!" required/>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_994f87bb7e8e1c28e7b31644d_22339b0bb9" tabindex="-1" value=""/></div>
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default" style="display: inline"/>
</div>
</form>
