<p class="border-emphasis">April 22, 2017 8:00 AM - 5:30 PM</p>


<div class="row">
  <div class="time col-lg-offset-3 col-lg-3 col-md-offset-1 col-md-4 col-sm-12">
    <p>8:00 - 8:30 AM</p>
  </div>
  <div class="event col-lg-6 col-md-7 col-sm-12">
    <p>Attendee check-in (required)</p>
  </div>
</div>
<div class="row">
  <div class="time col-lg-offset-3 col-lg-3 col-md-offset-1 col-md-4 col-sm-12">
    <p>9:00 - 9:15 AM</p>
  </div>
  <div class="event col-lg-6 col-md-7 col-sm-12">
    <p>Welcome Address</p>
  </div>
</div>
<div class="row">
  <div class="time col-lg-offset-3 col-lg-3 col-md-offset-1 col-md-4 col-sm-12">
    <p>9:15 - 10:15 AM</p>
  </div>
  <div class="event col-lg-6 col-md-7 col-sm-12">
    <p>Leadership</p>
  </div>
</div>
<div class="row">
  <div class="time col-lg-offset-3 col-lg-3 col-md-offset-1 col-md-4 col-sm-12">
    <p>10:30 - 11:20 AM</p>
  </div>
  <div class="event col-lg-6 col-md-7 col-sm-12">
    <p>Breakout Session 1</p>
    <ul>
      <li>Entrepreneurship</li>
      <li>Getting Hired</li>
      <li>Meet with Advisors</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="time col-lg-offset-3 col-lg-3 col-md-offset-1 col-md-4 col-sm-12">
    <p>11:30 - 12:20 PM</p>
  </div>
  <div class="event col-lg-6 col-md-7 col-sm-12">
    <p>Breakout Session 2</p>
    <ul>
      <li>Executive Leadership</li>
      <li>Confidence in the Workplace</li>
      <li>Starting out at Community College</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="time col-lg-offset-3 col-lg-3 col-md-offset-1 col-md-4 col-sm-12">
    <p>12:20 - 1:00 PM</p>
  </div>
  <div class="event col-lg-6 col-md-7 col-sm-12">
    <p>Lunch</p>
  </div>
</div>
<div class="row">
  <div class="time col-lg-offset-3 col-lg-3 col-md-offset-1 col-md-4 col-sm-12">
    <p>1:00 - 1:50 PM</p>
  </div>
  <div class="event col-lg-6 col-md-7 col-sm-12">
    <p>Importance of Diversity and Inclusion</p>
  </div>
</div>
<div class="row">
  <div class="time col-lg-offset-3 col-lg-3 col-md-offset-1 col-md-4 col-sm-12">
    <p>1:50 - 2:40 PM</p>
  </div>
  <div class="event col-lg-6 col-md-7 col-sm-12">
    <p>Can I Have a Career AND Family?</p>
  </div>
</div>
<div class="row">
  <div class="time col-lg-offset-3 col-lg-3 col-md-offset-1 col-md-4 col-sm-12">
    <p>3:00 - 3:50 PM</p>
  </div>
  <div class="event col-lg-6 col-md-7 col-sm-12">
    <p>Breakout Session 3</p>
    <ul>
      <li>Graduate School</li>
      <li>Millennials working with GenX and Boomers</li>
      <li>What can you do with Engineering?</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="time col-lg-offset-3 col-lg-3 col-md-offset-1 col-md-4 col-sm-12">
    <p>4:00 - 4:50 PM</p>
  </div>
  <div class="event col-lg-6 col-md-7 col-sm-12">
    <p>Breakout Session 4</p>
    <ul>
      <li>Academic Career Path</li>
      <li>Managing Personal Image and Exposure</li>
      <li>Networking with Student Organizations and Ambassadors</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="time col-lg-offset-3 col-lg-3 col-md-offset-1 col-md-4 col-sm-12">
    <p>5:00 - 5:30 PM</p>
  </div>
  <div class="event col-lg-6 col-md-7 col-sm-12">
    <p>Closing Address</p>
  </div>
</div>
