<!-- Speaker 1 -->
<div class="row">
    <div class="col-lg-3">
        <img src="http://goo.gl/L1SA9M" class="speaker" alt="speaker 1"/>
    </div>
    <div class="col-lg-9">
        <h4>Speaker 1</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit enim ante, non pretium velit vulputate et. Pellentesque sed justo vestibulum, cursus dolor sit amet, commodo ligula. Mauris sed risus ullamcorper, efficitur risus eget, commodo elit. Aliquam a lorem eget quam facilisis auctor.
        </p>
    </div>
</div>

<!-- Speaker 2 -->
<div class="row">
    <div class="col-lg-3">
        <img src="http://goo.gl/IfbF9A" class="speaker" alt="speaker 2"/>
    </div>
    <div class="col-lg-9">
        <h4>Speaker 2</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit enim ante, non pretium velit vulputate et. Pellentesque sed justo vestibulum, cursus dolor sit amet, commodo ligula. Mauris sed risus ullamcorper, efficitur risus eget, commodo elit. Aliquam a lorem eget quam facilisis auctor.
        </p>
    </div>
</div>

<!-- Speaker 3 -->
<div class="row">
    <div class="col-lg-3">
        <img src="http://goo.gl/yXgknu" class="speaker" alt="speaker 3"/>
    </div>
    <div class="col-lg-9">
        <h4>Speaker 3</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit enim ante, non pretium velit vulputate et. Pellentesque sed justo vestibulum, cursus dolor sit amet, commodo ligula. Mauris sed risus ullamcorper, efficitur risus eget, commodo elit. Aliquam a lorem eget quam facilisis auctor.
        </p>
    </div>
</div>