<div class="row">
    <div class="col-lg-6">
        <h4>Knoxville Convention Center</h4>
        <p>701 Henley Street<br>Knoxville, TN 37902</p>
        <p>[Instert Google Map]</p>
        <p><a href="http://www.kccsmg.com/reach-us/">Contact/Directions/Parking</a></p>

    </div>
    <div class="col-lg-6">
        <h4>Hotels & Accommodations</h4>
        <ul>
            <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
            <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
            <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
            <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
        </ul>

    </div>
</div>
