<div class="row">
  <div class="col-lg-12">
    <img id="logo" src="./assets/images/logo.png" alt="Womengineering Day 2015 Logo"/>
    <div class="feature-content">
      <h3>A one-day engineering conference for all.</h3>
      <a class="btn btn-default btn-register page-scroll" href="#register">Register!</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="feature-content">
      {% include social-media-icons.html %}
      {% include email-form.html %}
    </div>
  </div>
</div>
