

<p class="border-emphasis">
  Please stay tuned as we continue announcing speakers! Our speakers so far include:
</p>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="images/speaker-bennett.jpeg" alt="Bennett Croswell">
  </div>
  <div class="col-lg-9">
    <h3>Bennett Croswell</h3>
    <h6>President, Pratt & Whitney Military Engines</h6>
    <p>Bennett Croswell is president of Pratt & Whitney’s Military Engines business, where he oversees development, production and support of the company’s military offerings including the 5th generation F119 and 
    F135 engines for the F-22 and F-35 fighters, the F100 for the F-15/F-16, the F117 for the C-17, the PW4062 for the KC-46A, as well as the Small Military Engine and Advanced Engine Program sectors. Bennett joined 
    Pratt & Whitney in 1979 and has been part of three Collier Trophy Award winning teams since. Previous leadership roles include director, F119 program; vice president, F119 program; vice president, Military Development 
    Programs; and vice president Advanced Programs & Technology. Bennett earned a Bachelor of Science degree in mechanical engineering from the University of Tennessee, and a Master of Business Administration degree from 
    Embry Riddle Aeronautical University. He also graduated from the Defense Systems Management College in Fort Belvoir, Va.Bennett has authored several papers published by technical societies. He is also a member of the 
    University Of Tennessee College Of Engineering Advisory Board, the Air Force Association, the Association of the United States Army, the Army Aviation Association of America and the Navy League.
</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="images/speaker-denise-gosnell.png" alt="Denise Koessler Gosnell">
  </div>
  <div class="col-lg-9">
    <h3>Denise Koessler Gosnell</h3>
    <h6>Data Scientist, PokitDok</h6>
    <p>Dr. Gosnell is a go-getter who pursues life with passion and enthusiasm.  During her time at the University of Tennessee, she was involved in two start-ups, founded the Systers group, and was awarded
       TA of the year for the department of computer science in 2013.  Her PhD research has been featured at conferences from London to San Diego. She currently works for a Silicon Valley start-up called PokitDok.</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="images/speaker-hoffman.jpg" alt="Peter Hoffman">
  </div>
  <div class="col-lg-9">
    <h3>Peter Hoffman</h3>
    <h6>Vice President of Intellectual Property Management, The Boeing Company</h6>
    <p>Peter Hoffman is vice president of Intellectual Property Management for The Boeing Company, the world's largest aerospace company. Hoffman is responsible for
    strategies that protect and generate the highest possible value from this significant corporate asset. Hoffman specifically manages the company's patent portfolio;
    protection of trade secrets; and licensing of tech nical data, images, consumer products, trademarks and patents. In addition to managing Boeing intellectual property, Hoffman also serves as
    executive sponsor of the Diversity & Inclusion Council for Engineering, Operations & Technology. Hoffman earned a bachelor's of science degree in mechanical engineering
    technology and a master's of science degree in mechanical engineering from the University of Tennessee, a master's of manufacturing engineering from Washington
    University in St. Louis, and a master's of international business from St. Louis University. Hoffman is a board member of the Advanced Manufacturing Research
    Center Group at the University of Sheffield in the UK, an Advisory Board member at the University of Tennessee College of Engineering, and a Fellow of the Royal Aeronautical
    Society.</p>
  </div>
</div>


<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="images/speaker-mickey.jpg" alt="Mickey Johnson">
  </div>
  <div class="col-lg-9">
    <h3>Mickey Johnson</h3>
    <h6>Private Wealth Advisor, Private Banking and Investment Group at Merrill Lynch and partner, The McLaughin Group</h6>
    <p>Mickey Johnson is a First Vice President in the Private Banking and Investment Group at Merrill Lynch and partner in The McLaughlin Group. Along with Dugan McLaughlin, 
    Mickey is responsible for all aspects of the client service and investment experience. Mickey heads the team's financial planning practice, where he is actively involved 
    in developing each client's customized plan for their entire balance sheet including strategic portfolio allocation, credit facilities, and cash flows.
    Mickey is a dual-degree recipient from the University of Tennessee Knoxville; he earned a B.A. in Logistics and Transportation and a B.S. in Agricultural Economics and Finance. 
    Mickey holds the CFP® certification awarded by the Certified Financial Planner Board of Standards, Inc.
    Mickey volunteers with a number of non-profit entities in Knoxville and is a University of Tennessee Chancellor’s Associate.
    He and his wife live in Knoxville with their two children.</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="images/speaker-jay.jpg" alt="Jay Koehler">
  </div>
  <div class="col-lg-9">
    <h3>Jay Koehler</h3>
    <h6>Security and Trust Organization Program Project Manager, Cisco Systems</h6>
    <p>Jay started at Cisco Systems 14 years ago as a software engineer after receiving her Master’s in Computer Science from The University of Tennessee, and
        has since transitioned into management within the Advanced Security Initiatives Group. Before beginning a rotation with the Computer
        Security Incident Response Team, she managed a team that focused on performing evaluations across Cisco products and services. In addition
        to her technical contributions, Jay has built the recruiting, interviewing, and hiring program within the group as it grew from 5 to
        70 engineers and is currently building a talent acquisition and work force design program for all of the Security and Trust Organization.  When not at the office, she enjoys hiking and spending
        time with her family.</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="images/speaker-misty.jpg" alt="Misty Mayes">
  </div>
  <div class="col-lg-9">
    <h3>Misty Mayes</h3>
    <h6>President and Founder, Management Solutions, LLC</h6>
    <p>Misty Mayes, PMP, is the president and founder of Management Solutions, LLC (MSLLC), an award-winning, comprehensive project management services company based in Knoxville, Tenn. Mayes started MSLLC 
      in 2002 and has established MSLLC’s reputation as a provider of “best value services” in the areas of project controls/project management, forensic schedule analysis and project management training.
      Mayes has more than 26 years of executive leadership experience and has managed programs/projects to provide project management and controls services to a variety of clients. She has worked extensively with 
      the U.S. Department of Energy’s (DOE’s) Oak Ridge National Laboratory (ORNL) providing project management/control services, including EVMS certification, project controls, cost estimating, and risk management 
      services. MSLLC clients and projects have included the DOE, Department of Defense (DOD), the U.S. Army Corp of Engineers (USACE), UT-Battelle, Y-12 National Security Complex, ALCOA, Oak Ridge Associated 
      Universities (ORAU) and TeamHealth among others. Mayes supports the greater Knoxville community throughout the year and serves on several boards, including the University of Tennessee College of Engineering Board of Advisors.
      She earned a Bachelor of Science in Engineering from the University of Tennessee in 1988.</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="images/speaker-schuman.jpg" alt="Catherine Schuman">
  </div>
  <div class="col-lg-9">
    <h3>Catherine Schuman</h3>
    <h6>PhD Candidate, University of Tennessee</h6>
    <p>Catherine (Katie) Schuman will receive her Ph.D. in computer science at the University of Tennessee (UT) in May 2015. She received her B.S. in computer 
      science and mathematics from UT in 2010. Her research is in neuroscience-inspired dynamic architectures.  Katie is a National Science Foundation Graduate 
      Research Fellow. Katie is a member of Systers: Women in EECS @ UTK, ACM, IEEE, and the Society for Neuroscience (SfN).</p>
  </div>
</div>


<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="images/speaker-jacinda.jpg" alt="Jacinda Woodward">
  </div>
  <div class="col-lg-9">
    <h3>Jacinda Woodward</h3>
    <h6>Senior Vice President of Transmission & Power Supply, Tennessee Valley Authority</h6>
    <p>Jacinda joined TVA in 1984 and has worked in various nuclear, information technology and power transmission divisions throughout her career.
      Jacinda is currently Senior Vice President of Transmission & Power Supply, which is responsible for the planning, design, construction, maintenance and 
      real-time operation of TVA’s transmission system -- one of the largest systems in the country.  Prior to her current assignment, Jacinda has also served 
      as Vice President of Transmission Reliability & Operations and Vice President of Power Control Systems within TVA. She has a broad experience base with assignments including 
      design, maintenance, program development, project management, and executive support. Jacinda earned a bachelor of science degree in electrical engineering from Auburn University in 1988 and  
      is a registered professional engineer in the state of Tennessee. She is married and has two daughters, ages 18 and 11.  
</p>
  </div>
</div>
