


<div id="schedule-table">
  <div class="row">
    <div class="col-md-2">
      <p class="time">8:00 - 9:00 AM</p>
    </div>
    <div class="col-md-10">
      <p class="title">Check-In</p>
      <p class="description">Those who registered may check in and receive their nametags, T-shirts, programs, and lunch tickets.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="time">9:00 - 9:15 AM</p>
    </div>
    <div class="col-md-10">
      <p class="title">Welcome Address</p>
      <p class="description">General welcome by planning committee.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="time">9:15 - 10:15 AM</p>
    </div>
    <div class="col-md-10">
      <p class="title">Keynote Session</p>
      <p class="description"><span class="subtitle">Leadership in Your Career: </span> why leadership is important and how to pursue it, whether in a corporate, academic, or entrepreneurial setting.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="time">10:30 - 11:20 AM</p>
    </div>
    <div class="col-md-10">
      <p class="title">Breakout Session</p>
      <div class="row">
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Getting Hired:</span>
            stand-out resume and interview tips for getting hired into the corporate world.
          </p>
        </div>
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Starting Your Own Business:</span>
            how-to on starting a new business and what to expect when doing so.
          </p>
        </div>
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Professional Opportunities in Engineering:</span>
            short presentations on different engineering opportunities followed by a Q&amp;A session.
          </p>
        </div>
      </div>
    </div>
  </div>



</div>




<!--<div class="table-responsive">
<table class="table table-bordered">
  <tr colspan="4">
    <td class="col-md-2">
      8:00 - 9:00 AM
    </td>
    <td class="col-md-10">
      Check-in: Those who registered may check in and receive their nametags, T-shirts, programs, and lunch tickets.
    </td>
  </tr>
  <tr>
    <td class="col-md-2">
      9:00 - 9:15 AM
    </td>
    <td class="col-md-10">
      Welcome Address: General welcome by planning committee.
    </td>
  </tr>
  <tr>
    <td class="col-md-2">
      9:15 - 10:15 AM
    </td>
    <td class="col-md-10">
      Keynote Speaker: <em>Leadership in Your Career:</em> Why leadership is important and how to pursue it, whether in a corporate, academic, or entrepreneurial setting.
    </td>
  </tr>
  <tr>
    <td class="col-md-2">
      10:30 - 11:20 AM
    </td>
    <td class="col-md-2">
      Getting Hired: stand-out resume and interview tips for getting hired into the corporate world.
    </td>
    <td class="col-md-2">
      Starting Your Own Business: how-to on starting a new business and what to expect when doing so.
    </td>
    <td class="col-md-2">
      Professional Opportunities in Gengineering: short presentations on different engineering opportunities following a Q&amp;A session.
    </td>
  </tr>
</table>
</div>
-->
