<div class="row">
    <div class="col-lg-12">
        <p class="border-emphasis">WomEngineers Day is a one-day mini-conference where today's top engineers present their expertise on
          professional and personal topics not found in the classroom. Best of all, it's completely free.</p>

        <p>In addition to celebrating women in engineering, this mini-conference is a rare opportunity to
          attend a full-scale engineering conference all in one day.  WomEngineers Day will consist of keynote speakers, discussion panels, and breakout sessions to provide
          YOU with professional and personal skills not covered in your engineering curriculum.  For those
          interested in the sticky sides of things, several breakout sessions will feature debates on controversial topics in engineering.
          UT's College of Engineering departments, student organizations, Board of Advisors, and major players in
          engineering industry will all be attending.
        </p>

        <p><strong>Everything you hear and experience will be coming straight from the presidents and vice presidents
          of engineering companies, successful University of Tennessee engineering alumni, and highly-regarded experts.
          </strong></p>

        <h4>Come grow as an engineer with us at WomEngineers Day on April 11, 2015</h4>
    </div>
</div>
