

<p class="border-emphasis">
  Please stay tuned as we continue announcing speakers! Our speakers and moderators so far include:
</p>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-lorraine.jpg" alt="Lorraine Martin">
  </div>
  <div class="col-lg-9">
    <h3>Lorraine Martin</h3>
    <h6>Executive Vice President and General Manager, F-35 Lightning II Program, Lockheed Martin Aeronautics Company</h6>
    <p>Lorraine M. Martin is Executive Vice President and General Manager, F-35 Lightning II Program, for Lockheed Martin Aeronautics Company. In this role, she is responsible for successful completion of the System 
    Development and Demonstration Program, production, flight testing, global deployment and sustainment of the three F-35 variants for 13 military services in nine partner countries and three foreign military sales customers. 
    Previously, Ms. Martin served in Lockheed Martin's F-35 Program (Vice President and Deputy), its C-130 Programs (Vice President), its C-5 Program (Vice President), its Training and Support program (Vice President, Flight 
    Solutions, Lockheed Martin Simulation), its Integrated Systems &amp; Solutions branch (Vice President and Deputy), and its Aerospace Information Operations branch (Vice President). Prior to her Lockheed Martin career, Ms. Martin served as an officer in the United States Air Force holding various leadership positions for software intensive technology and development programs, with a focus on computer security and Expert Decision Systems.
    Ms. Martin has a Bachelor of Arts in Computational Mathematics from DePauw University and a Master of Science in Computer Science from Boston University. She is a Lockheed Martin Certified Program Manager.
</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-bennett.jpeg" alt="Bennett Croswell">
  </div>
  <div class="col-lg-9">
    <h3>Bennett Croswell</h3>
    <h6>President, Pratt &amp; Whitney Military Engines</h6>
    <p>Bennett Croswell is president of Pratt &amp; Whitney’s Military Engines business, where he oversees development, production and support of the company’s military offerings including the 5th generation F119 and 
    F135 engines for the F-22 and F-35 fighters, the F100 for the F-15/F-16, the F117 for the C-17, the PW4062 for the KC-46A, as well as the Small Military Engine and Advanced Engine Program sectors. Bennett joined 
    Pratt &amp; Whitney in 1979 and has been part of three Collier Trophy Award winning teams since. Previous leadership roles include director, F119 program; vice president, F119 program; vice president, Military Development 
    Programs; and vice president Advanced Programs &amp; Technology. Bennett earned a Bachelor of Science degree in mechanical engineering from the University of Tennessee, and a Master of Business Administration degree from 
    Embry Riddle Aeronautical University. He also graduated from the Defense Systems Management College in Fort Belvoir, Va.Bennett has authored several papers published by technical societies. He is also a member of the 
    University Of Tennessee College Of Engineering Advisory Board, the Air Force Association, the Association of the United States Army, the Army Aviation Association of America and the Navy League.
</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-jacinda.jpg" alt="Jacinda Woodward">
  </div>
  <div class="col-lg-9">
    <h3>Jacinda Woodward</h3>
    <h6>Senior Vice President of Transmission &amp; Power Supply, Tennessee Valley Authority</h6>
    <p>Jacinda joined TVA in 1984 and has worked in various nuclear, information technology and power transmission divisions throughout her career.
      Jacinda is currently Senior Vice President of Transmission &amp; Power Supply, which is responsible for the planning, design, construction, maintenance and 
      real-time operation of TVA’s transmission system -- one of the largest systems in the country.  Prior to her current assignment, Jacinda has also served 
      as Vice President of Transmission Reliability &amp; Operations and Vice President of Power Control Systems within TVA. She has a broad experience base with assignments including 
      design, maintenance, program development, project management, and executive support. Jacinda earned a bachelor of science degree in electrical engineering from Auburn University in 1988 and  
      is a registered professional engineer in the state of Tennessee. She is married and has two daughters, ages 18 and 11.  
</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-eric.jpg" alt="Eric Zeanah">
  </div>
  <div class="col-lg-9">
    <h3>Eric Zeanah</h3>
    <h6>UTCOE Board Chair – President, American Accessories International, LLC.</h6>
    <p>After a three month internship, Mr. Zeanah  chose to join American Accessories International, a world-wide product development and manufacturing execution company. Mr. Zeanah has since developed 
      a thirty-two year career expanding into all aspects of business management including; Program Design, Manufacturing Controls, Marketing Procurement, as well as, Administration and Finance. After 
      assuming ownership of American Accessories International in 1995, Mr. Zeanah has led his company into core supply roles for many corporate entities such as Johnson &amp; Johnson, Unilever, Kodak and Altria.
      Mr. Zeanah received a bachelor's degree in industrial engineering from the University of Tennessee in 1984.
    </p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-hoffman.jpg" alt="Peter Hoffman">
  </div>
  <div class="col-lg-9">
    <h3>Peter Hoffman</h3>
    <h6>Vice President of Intellectual Property Management, The Boeing Company</h6>
    <p>Peter Hoffman is vice president of Intellectual Property Management for The Boeing Company, the world's largest aerospace company. Hoffman is responsible for
    strategies that protect and generate the highest possible value from this significant corporate asset. Hoffman specifically manages the company's patent portfolio;
    protection of trade secrets; and licensing of tech nical data, images, consumer products, trademarks and patents. In addition to managing Boeing intellectual property, Hoffman also serves as
    executive sponsor of the Diversity &amp; Inclusion Council for Engineering, Operations &amp; Technology. Hoffman earned a bachelor's of science degree in mechanical engineering
    technology and a master's of science degree in mechanical engineering from the University of Tennessee, a master's of manufacturing engineering from Washington
    University in St. Louis, and a master's of international business from St. Louis University. Hoffman is a board member of the Advanced Manufacturing Research
    Center Group at the University of Sheffield in the UK, an Advisory Board member at the University of Tennessee College of Engineering, and a Fellow of the Royal Aeronautical
    Society.</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-tammy.jpg" alt="Tammy Wilson">
  </div>
  <div class="col-lg-9">
    <h3>Tammy Wilson</h3>
    <h6>Senior Vice President and Treasurer, Tennessee Valley Authority</h6>
    <p>Ms. Wilson currently serves as TVA’s Vice President and Treasurer with oversight of a $27 billion debt portfolio and $9.5 billion of investments. Wilson is a highly accomplished 
    executive equipped with 25 years of experience in such areas as management, finance and accounting, risk management, strategy and planning, corporate development, investments, Board 
    policy and regulatory matters. Prior to her role as Treasurer, Ms. Wilson has served in TVA’s Vice President positions for Financial Strategy &amp; Corporate Development, for Financial Planning &amp; 
    Analysis, and for Retirement Services.  Ms. Wilson currently serves on TVA’s Nuclear Decommissioning Trust Board that manages the funds for the eventual removal from service and clean-up of 
    TVA’s nuclear facilities.  She received an MS in Accounting from the University of Tennessee.
</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-dan.jpg" alt="Dan Hurst">
  </div>
  <div class="col-lg-9">
    <h3>Dan Hurst</h3>
    <h6>Founder and CEO, Strata-G, LLC</h6>
    <p>Dan Hurst is the Founder and CEO of Strata-G, a science and engineering firm of approximately 130 personnel devoted to stewardship of energy and the environment. Strata-G has been recognized with three small-business-of-the-year 
    awards and was honored as a 2012 Business Excellence Finalist by the Knoxville Chamber. Dan is a former nuclear-navy officer.  In 2011, the Tennessee Veterans Business Association honored Dan as the first recipient of their Bravo-Zulu 
    award, given to a veteran for business excellence and community leadership. Business Week Magazine has recognized Dan for his successful values-based approach to leadership and management.
    Dan has an M.S. Degree in Environmental Engineering, received the 2007 Biosystems Engineering Distinguished Alumni Award, and serves UTK as a Chancellors Associate and member of the Civil and Environmental Engineering Board of Advisors.  
    He also chairs the boards of the West Knox Utilities District and Knox Area Rescue Ministries.</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-misty.jpg" alt="Misty Mayes">
  </div>
  <div class="col-lg-9">
    <h3>Misty Mayes</h3>
    <h6>President and Founder, Management Solutions, LLC</h6>
    <p>Misty Mayes, PMP, is the president and founder of Management Solutions, LLC (MSLLC), an award-winning, comprehensive project management services company based in Knoxville, Tenn. Mayes started MSLLC 
      in 2002 and has established MSLLC’s reputation as a provider of “best value services” in the areas of project controls/project management, forensic schedule analysis and project management training.
      Mayes has more than 26 years of executive leadership experience and has managed programs/projects to provide project management and controls services to a variety of clients. She has worked extensively with 
      the U.S. Department of Energy’s (DOE’s) Oak Ridge National Laboratory (ORNL) providing project management/control services, including EVMS certification, project controls, cost estimating, and risk management 
      services. MSLLC clients and projects have included the DOE, Department of Defense (DOD), the U.S. Army Corp of Engineers (USACE), UT-Battelle, Y-12 National Security Complex, ALCOA, Oak Ridge Associated 
      Universities (ORAU) and TeamHealth among others. Mayes supports the greater Knoxville community throughout the year and serves on several boards, including the University of Tennessee College of Engineering Board of Advisors.
      She earned a Bachelor of Science in Engineering from the University of Tennessee in 1988.</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-mickey.jpg" alt="Mickey Johnson">
  </div>
  <div class="col-lg-9">
    <h3>Mickey Johnson</h3>
    <h6>Private Wealth Advisor, Private Banking and Investment Group at Merrill Lynch and partner, The McLaughin Group</h6>
    <p>Mickey Johnson is a First Vice President in the Private Banking and Investment Group at Merrill Lynch and partner in The McLaughlin Group. Along with Dugan McLaughlin, 
    Mickey is responsible for all aspects of the client service and investment experience. Mickey heads the team's financial planning practice, where he is actively involved 
    in developing each client's customized plan for their entire balance sheet including strategic portfolio allocation, credit facilities, and cash flows.
    Mickey is a dual-degree recipient from the University of Tennessee Knoxville; he earned a B.A. in Logistics and Transportation and a B.S. in Agricultural Economics and Finance. 
    Mickey holds the CFP® certification awarded by the Certified Financial Planner Board of Standards, Inc.
    Mickey volunteers with a number of non-profit entities in Knoxville and is a University of Tennessee Chancellor’s Associate.
    He and his wife live in Knoxville with their two children.</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-jay.jpg" alt="Jay Koehler">
  </div>
  <div class="col-lg-9">
    <h3>Jay Koehler</h3>
    <h6>Security and Trust Organization Program Project Manager, Cisco Systems</h6>
    <p>Jay started at Cisco Systems 14 years ago as a software engineer after receiving her Master’s in Computer Science from The University of Tennessee, and
        has since transitioned into management within the Advanced Security Initiatives Group. Before beginning a rotation with the Computer
        Security Incident Response Team, she managed a team that focused on performing evaluations across Cisco products and services. In addition
        to her technical contributions, Jay has built the recruiting, interviewing, and hiring program within the group as it grew from 5 to
        70 engineers and is currently building a talent acquisition and work force design program for all of the Security and Trust Organization.  When not at the office, she enjoys hiking and spending
        time with her family.</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-tommy.jpg" alt="Tommy Nguyen">
  </div>
  <div class="col-lg-9">
    <h3>Tommy Nguyen</h3>
    <h6>Regional Vice President, Neighborhood Nerds</h6>
    <p>Tommy Nguyen is an alumnus of UT’s Computer Science program, class of 2014.  He is Regional Vice President and partial owner of Neighborhood Nerds, a local 
    tech support company.  He also owns and operates Right Click Design, a company that specializes in business-to-business software development.	</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-veerle.jpg" alt="Veerle Keppens">
  </div>
  <div class="col-lg-9">
    <h3>Veerle Keppens</h3>
    <h6>Professor and Associate Dean for Faculty Affairs, University of Tennessee</h6>
    <p>Veerle Keppens earned her bachelor’s degree (1989) and Ph.D. (1995) in Physics from the Katholieke Universiteit Leuven (Belgium).  From 1995 to 1998, 
    Dr. Keppens was a Fulbright fellow in the novel materials group at Oak Ridge National Laboratory, where she became interested in the elastic properties of new 
    materials.  In 1999, she joined the faculty in the Physics Department at The University of Mississippi.  In 2003, she moved to Tennessee and joined the faculty 
    in the materials science and engineering department at the University of Tennessee, where she continues to study the elastic properties and lattice dynamics of 
    novel materials. At UT, she has received multiple awards, including the chancellor’s award for professional promise in research and creative achievement, the 
    college of engineering research fellow award, and the department of materials science faculty award for outstanding service. In 2011, she became a fellow of the 
    Acoustical Society of America for the application of ultrasonics to condensed matter physics. She started serving as the associate dean for faculty affairs in August of 2012.</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-denise-gosnell.png" alt="Denise Koessler Gosnell">
  </div>
  <div class="col-lg-9">
    <h3>Denise Koessler Gosnell</h3>
    <h6>Data Scientist, PokitDok</h6>
    <p>Dr. Gosnell is a go-getter who pursues life with passion and enthusiasm.  During her time at the University of Tennessee, she was involved in two start-ups, founded the Systers group, and was awarded
       TA of the year for the department of computer science in 2013.  Her PhD research has been featured at conferences from London to San Diego. She currently works for a Silicon Valley start-up called PokitDok.</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-adam.jpg" alt="Adam Kimberlin">
  </div>
  <div class="col-lg-9">
    <h3>Adam Kimberlin</h3>
    <h6>Propulsion Engineer at NASA</h6>
    <p>Mr. Kimberlin is a propulsion engineer at NASA's Marshall Space Flight Center (MSFC) in Huntsville, AL. His current duties in the Liquid Engine Systems 
       Branch include the development of the RS-25 (formerly known as Space Shuttle Main Engine, SSME) and the development of controllers for new prototype engines. 
       Prior to joining MSFC’s Liquid Engine Systems Branch, his experiences in various groups ranged from advanced propulsion R&D to experimental launch vehicle 
       aerothermodynamics. In 2008, he joined NASA Marshall Space Flight Center (MSFC) as a co-op student where he supported many small R&D projects in addition 
       to the International Space Station, Space Shuttle, and Constellation programs. Mr. Kimberlin received his B.S. in Mechanical Engineering from Tennessee 
       Technological University in May of 2011 and is currently a member of the American Society of Mechanical Engineers (ASME) and the American Institute of 
       Aeronautics and Astronautics (AIAA).</p>
  </div>
</div>

<div class="row speaker-bio">
  <div class="col-lg-3">
    <img src="./assets/images/speaker-schuman.jpg" alt="Catherine Schuman">
  </div>
  <div class="col-lg-9">
    <h3>Catherine Schuman</h3>
    <h6>PhD Candidate, University of Tennessee</h6>
    <p>Catherine (Katie) Schuman will receive her Ph.D. in computer science at the University of Tennessee (UT) in May 2015. She received her B.S. in computer 
      science and mathematics from UT in 2010. Her research is in neuroscience-inspired dynamic architectures.  Katie is a National Science Foundation Graduate 
      Research Fellow. Katie is a member of Systers: Women in EECS @ UTK, ACM, IEEE, and the Society for Neuroscience (SfN).</p>
  </div>
</div>




