<script>
	var d = new Date(2015, 1, 2, 8, 0, 0, 0);
	var now = new Date();
	if(now < d == true) {
		document.write("<h4>Registration opens February 13, 2017 at 8:00 AM EST!");
	}
</script>
<h4>Registration opens on Febuary 13,2017! Tickets will be limited to 600!</h4>
<div class="row">

	<div class="col-lg-12">
		<p><a href="https://womengineersday2017.eventbrite.com" class="btn btn-default btn-lg btn-register">Register Now!</a></p>
		<p>(limit 600)</p>
	</div>
	<!--
	<div class="col-lg-6">

		<p><a href="http://womengineersday-hs.eventbrite.com" class="btn btn-default btn-lg btn-register">High School Students</a></p>
		
		<p>(limit 100)</p>
		
	</div>
      
</div>
-->
<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<h4>Registration Details</h4>
		<p>Registration deadline has been extended to Friday, April 21. Please note: If you register after Tuesday, April 18, we can not guarantee you a conference care package or meal. You will, however, be able to participate in all workshops and discussions.</p>
		<p><strong>Registration system: </strong> Registration is handled by the EventBrite.com secure registration system. You will be prompted to create an EventBrite account.</p>
	</div>
</div>

