<div class="row">
    <div class="col-lg-12">
        <p class="border-emphasis">WomEngineers Day is a one-day mini-conference where professional engineers and business partners provide their own expertise on both professional 
        and personal topics related to the career and life choices they have encountered in their careers to University of Tennessee COE students planning their own careers.</p>

        <p>In addition to highlighting successful women in industry, this mini-conference is a rare opportunity for both male and female engineering candidates alike to attend a full-scale 
        professional conference focused on the topics BOTH will need in identifying, and ultimately establishing, a successful career in business and industry. WomEngineers Day will include 
        speakers, discussion panels, and breakout sessions to provide each student with those professional and personal skills needed which can never be taught within even the best 
        engineering curriculums. This is a unique opportunity for you to gain advice and mentorship from successful executives in both the corporate and private sectors that you may never 
        have the opportunity to meet otherwise. Quite frankly, you may look back on this event as the most important learning opportunity of your scholastic experience.
        </p>

        <h4>COME GROW WITH US AS A PROFFESIONAL ON APRIL 11, 2015</h4>
    </div>
</div>
