<div class="row">
    <div class="col-lg-6">
        <h4>Reasons</h4>
        <p>Yes, this goes on your resume.  In addition to celebrating women in engineering, this mini-conference is a rare opportunity for you to attend a full-scale engineering conference all in one day.  The outrageous part?  It’s completely free. 

WomEngineers Day will consist of keynote speakers, discussion panels, and breakout workshops to provide YOU with professional and personal life skills not covered in your engineering curriculum.  For those who are interested in the sticky sides of things, some of the breakout sessions will feature debates.  And the coolest part: everything you hear will be coming straight from the presidents and vice presidents of engineering companies themselves along with other high profile experts.  Seriously, this is something you DO NOT want to miss. 

See the other tabs of this website for session and speaker details.  UT’s College of Engineering Board of Advisors, big time corporation representatives, UT engineering departments and student organizations, and news reporters themselves will ALL be there.  Come grow as an engineer with us on April 11, 2015.  
</p>

    </div>
    <div class="col-lg-6">
        <h4>More Reasons</h4>
        <ul>
            <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
            <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
            <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
            <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
        </ul>

    </div>
</div>
