<p><a href="http://www.pw.utc.com/Bennett_Croswell" target="_blank"><strong>Bennett Croswell</strong> (President, Military Engines at Pratt &amp; Whitney)</a></p>
<p><a href="https://www.linkedin.com/in/denisekgosnell" target="_blank"><strong>Denise Koessler Gosnell</strong> (Data Scientist, PokitDok)</a></p>
<p><a href="https://www.linkedin.com/pub/mickey-johnson/77/b74/40" target="_blank"><strong>Mickey Johnson</strong> (Financial Advisor, Merrill Lynch Wealth Management)</a></p>
<p><a href="https://www.linkedin.com/pub/misty-mayes/14/76a/201" target="_blank"><strong>Misty Mayes</strong> (Founder and President, Management Solutions, LLC.)</a></p>
