<h4>Registration will open on February 1, 2015. In the meantime:</h4>

<div class="row">
    <div class="col-lg-12">
      <p>1. Sign up to receive registration reminders and updates via email!</p>
      <form id="mc-embedded-subscribe-form" action="//womegineersday.us9.list-manage.com/subscribe/post?u=994f87bb7e8e1c28e7b31644d&amp;id=22339b0bb9" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate
        <div class="form-group">
          <label for="mce-EMAIL"></label>
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" style="max-width: 200px; display: inline;" placeholder="email address" required/>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_994f87bb7e8e1c28e7b31644d_22339b0bb9" tabindex="-1" value=""/></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default" style="display: inline"/>
        </div>
      </form>
      <p>2. Follow Womengineers Day on Twitter and Facebook to receive updates!</p>
      <div class="addthis_horizontal_follow_toolbox"></div>
    </div>
</div>
