<h4>As we finalize our schedule, you can look forward to experiencing</h4>
<div class="pre-schedule">
  <div class="row">
    <div class="col-lg-3">
      <h4><span class="large-number">1</span>Keynote Talks</h4>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
    </div>
    <div class="col-lg-3">
      <h4><span class="large-number">2</span>Workshops</h4>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
    </div>
    <div class="col-lg-3">
      <h4><span class="large-number">3</span>Debates</h4>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
    </div>
    <div class="col-lg-3">
      <h4><span class="large-number">4</span>Booth Fair</h4>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 topic-preview">
      <h4>Topics Include</h4>
      <p>
        Leadership in Your Career &blacksquare; The Art and Science of Effective Communication &blacksquare; Can I have a Career and a Family? &blacksquare;
        Is Striving for Diversity a Good Thing? &blacksquare; How Can We Improve COE's Culture? &blacksquare; Getting Hired &blacksquare; Starting Your Own Business &blacksquare;
        Professional Opportunities in Engineering &blacksquare; What's Next, Work or Grad School? &blacksquare; Increasing Personal Productivity &blacksquare;
        Growing Confidence in Your Career &blacksquare; Social Impact Training &blacksquare; Booth Fair &blacksquare; Handling Money &blacksquare; How Mentorship Can Change Your Life
      </p>
    </div>
  </div>
</div>
