<div id="schedule-table">
  <div class="row">
    <div class="col-md-2">
      <p class="time">
        8:00 - 9:00 AM
      </p>
    </div>
    <div class="col-md-10">
      <p class="title">Check-In</p>
      <p class="description">Those who registered may check in and receive their nametags, T-shirts, programs, and lunch tickets.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="time">
        9:00 - 9:15 AM
      </p>
    </div>
    <div class="col-md-10">
      <p class="title">Welcome Address</p>
      <p class="description">General welcome by planning committee.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="time">
        9:15 - 10:15 AM
      </p>
    </div>
    <div class="col-md-10">
      <p class="title">Keynote Session</p>
      <p class="description"><span class="subtitle">Leadership in Your Career</span>Why leadership is important and how to pursue it, whether in a corporate, academic, or entrepreneurial setting.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="time">
        10:30 - 11:20 AM
      </p>
    </div>
    <div class="col-md-10">
      <p class="title">Breakout Session</p>
      <div class="row">
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Getting Hired</span>
            Stand-out resume and interview tips for getting hired into the corporate world.
          </p>
        </div>
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Starting Your Own Business</span>
            How-to on starting a new business and what to expect when doing so.
          </p>
        </div>
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Professional Opportunities in Engineering</span>
            Short presentations on different engineering opportunities followed by a Q&amp;A session.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="time">
        10:30 - 12:20 PM
      </p>
    </div>
    <div class="col-md-10">
      <p class="title">Breakout Session</p>
      <div class="row">
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">What's Next, Work or Grad School?</span>
            Panel on deciding what to do after obtaining your undergraduate degree.
          </p>
        </div>
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Increasing Your Personal Productivity</span>
            Tips for improved time management and completing tasks more efficiently.
          </p>
        </div>
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Growing Confidence in Your Career</span>
            Workshop on how to best present yourself and your work in a professional setting.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="time">
        12:30 - 1:45 PM
      </p>
    </div>
    <div class="col-md-10">
      <p class="title">Lunch and Keynote Speaker</p>
      <p class="description">
        <span class="subtitle">The Art and Science of Effective Communication</span>
        Communication as an art and as a science, particularly in facilitating difficult discussions.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="time">
        2:00 - 2:50 PM
      </p>
    </div>
    <div class="col-md-10">
      <p class="title">Keynote Panel</p>
      <p class="description">
        <span class="subtitle">Can I Have a Career and a Family?</span>
        Panel of mostly-women engineers discussing how they balance having both.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="time">
        3:00 - 3:50 PM
      </p>
    </div>
    <div class="col-md-10">
      <p class="title">Breakout Session</p>
      <div class="row">
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Debate: Is Striving for Diversity a Good Thing?</span>
            members of opposing sides dicuss the benefits and downsides to today's emphasis on diversity.
          </p>
        </div>
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Social Impact Training</span>
            workshop on how to positively impact others through both actions and words.
          </p>
        </div>
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Booth Fair</span>
            come-and-go booth fair of COE departments, COE student organizations, possibly sponsors.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="time">
        4:00 - 4:50 PM
      </p>
    </div>
    <div class="col-md-10">
      <p class="title">Breakout Session</p>
      <div class="row">
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Debate: How Can We Imporve COE's Culture?</span>
            members of different viewpoints discuss what needs improving in COE's culture.
          </p>
        </div>
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">Handling Money</span>
            how to handle the money you earn and what to know about investing and giving back to the university.
          </p>
        </div>
        <div class="col-md-4">
          <p class="description">
            <span class="subtitle">How Mentorship Can Change Your Life</span>
            workshop on the benefits of mentorship and how to get the most out of mentorship relationships.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p class="time">
        5:00 - 5:30 PM
      </p>
    </div>
    <div class="col-md-10">
      <p class="title">Closing Address</p>
      <p class="description"><span class="subtitle">Closing Address</span>Closing words and thanks from the Dean of COE.</p>
    </div>
  </div>

</div>
